#!/bin/bash
# a generic template for qsub jobs
#$ -cwd
#$ -o ${logfilename}
#$ -j y
#$ -S /bin/bash
# send email at begin/end of job
#$ -N j${jobname}
#$ -cwd 
#$ -V
#$ -l vf=${jobmem},mem_free=${jobmem},h_vmem=${jobmem}

hostname
echo "start..."
date

 ${command} 

echo "end..."
date
times
